.ddr-tabs {

    &__title{
        text-align: center;
        font-size: 18px;
        padding: 15px;
        display: inline-block;
        cursor: pointer;

        &--selected {
            border-bottom-width: 3px;
            border-bottom-style: solid;
        }
    }

    &__content{
        padding: 10px;
    }
}