<base-showcase>

  <div examples>

<button class="btn btn-primary" (click)="addBlock()">Agregar bloque</button>
<button class="btn btn-primary" (click)="removeFirstBlock()">Eliminar primero</button>
<button class="btn btn-primary" (click)="removeLastBlock()">Eliminar ultimo</button>
<button class="btn btn-primary" (click)="showHideHeader()">{{showHeader ? 'Ocultar cabecera' : 'Mostrar cabecera'}}</button>
<button class="btn btn-primary" (click)="showHideInfoAdditional()">{{showInfoAdditional ? 'Ocultar info additional' : 'Mostrar info additional'}}</button>
<button class="btn btn-primary" (click)="showHideActions()">{{showActions ? 'Ocultar acciones' : 'Mostrar acciones'}}</button>
<button class="btn btn-primary" (click)="showHideBorder()">{{showBorder ? 'Ocultar borde' : 'Mostrar borde'}}</button>

<ddr-block-list
  [blockItems]="blockItems"
  [showHeader]="showHeader"
  [showActions]="showActions"
  [showInfoAdditional]="showInfoAdditional"
  [showBorder]="showBorder"
  labelNoResults="No hay nada que mostrar"
  previousLabel="Previo"
  nextLabel="Siguiente"
  [pagination]="pagination"
  (actionSelected)="getAction($event)"
  (itemSelected)="selectItem($event)">

  <ng-template #templateInfoAdditional let-item="item">
    <span>{{item.date | date: 'dd/MMM/yyyy'}}</span>
  </ng-template>
  
  <ng-template #templateHeader let-item="item">
    <span>{{item.client}}</span>
  </ng-template>

  <ng-template #templateData let-item="item">
    
    <ddr-block-list-data-item
      label="Estado"
      [value]="item.status"
    ></ddr-block-list-data-item>

    
    <ddr-block-list-data-item
      label="Edad"
      [value]="item.age"
    ></ddr-block-list-data-item>
  
  </ng-template>

</ddr-block-list>

  </div>

  <div code>
    <ddr-tabs>
      <ddr-tab-item title="HTML">
        <pre><code class="language-markup" pCode ngNonBindable>&lt;button class=&quot;btn btn-primary&quot; (click)=&quot;addBlock()&quot;&gt;Agregar bloque&lt;/button&gt;
&lt;button class=&quot;btn btn-primary&quot; (click)=&quot;removeFirstBlock()&quot;&gt;Eliminar primero&lt;/button&gt;
&lt;button class=&quot;btn btn-primary&quot; (click)=&quot;removeLastBlock()&quot;&gt;Eliminar ultimo&lt;/button&gt;
&lt;button class=&quot;btn btn-primary&quot; (click)=&quot;showHideHeader()&quot;&gt;&#123;&#123;showHeader ? 'Ocultar cabecera' : 'Mostrar cabecera'&#125;&#125;&lt;/button&gt;
&lt;button class=&quot;btn btn-primary&quot; (click)=&quot;showHideInfoAdditional()&quot;&gt;&#123;&#123;showInfoAdditional ? 'Ocultar info additional' : 'Mostrar info additional'&#125;&#125;&lt;/button&gt;
&lt;button class=&quot;btn btn-primary&quot; (click)=&quot;showHideActions()&quot;&gt;&#123;&#123;showActions ? 'Ocultar acciones' : 'Mostrar acciones'&#125;&#125;&lt;/button&gt;
&lt;button class=&quot;btn btn-primary&quot; (click)=&quot;showHideBorder()&quot;&gt;&#123;&#123;showBorder ? 'Ocultar borde' : 'Mostrar borde'&#125;&#125;&lt;/button&gt;

&lt;ddr-block-list
  [blockItems]=&quot;blockItems&quot;
  [showHeader]=&quot;showHeader&quot;
  [showActions]=&quot;showActions&quot;
  [showInfoAdditional]=&quot;showInfoAdditional&quot;
  [showBorder]=&quot;showBorder&quot;
  labelNoResults=&quot;No hay nada que mostrar&quot;
  previousLabel=&quot;Previo&quot;
  nextLabel=&quot;Siguiente&quot;
  [pagination]=&quot;pagination&quot;
  (actionSelected)=&quot;getAction($event)&quot;
  (itemSelected)=&quot;selectItem($event)&quot;&gt;

  &lt;ng-template #templateInfoAdditional let-item=&quot;item&quot;&gt;
    &lt;span&gt;{{item.date | date: 'dd/MMM/yyyy'}}&lt;/span&gt;
  &lt;/ng-template&gt;
  
  &lt;ng-template #templateHeader let-item=&quot;item&quot;&gt;
    &lt;span&gt;{{item.client}}&lt;/span&gt;
  &lt;/ng-template&gt;

  &lt;ng-template #templateData let-item=&quot;item&quot;&gt;
    
    &lt;ddr-block-list-data-item
      label=&quot;Estado&quot;
      [value]=&quot;item.status&quot;
    &gt;&lt;/ddr-block-list-data-item&gt;

    
    &lt;ddr-block-list-data-item
      label=&quot;Edad&quot;
      [value]=&quot;item.age&quot;
    &gt;&lt;/ddr-block-list-data-item&gt;
  
  &lt;/ng-template&gt;

&lt;/ddr-block-list&gt;</code></pre>
      </ddr-tab-item>
      
      <ddr-tab-item title="CSS">
        <pre><code class="language-css" pCode ngNonBindable></code></pre>
      </ddr-tab-item>
      
      <ddr-tab-item title="TS">
        <pre><code class="language-typescript" pCode ngNonBindable>import &#123; DdrToastService &#125; from 'ddr-library';
import &#123; DdrCacheService &#125; from './../../services/ddr-cache.service';
import &#123; DdrSelectedItem &#125; from 'ddr-library';
import &#123; DdrAction &#125; from 'ddr-library';
import &#123; Appointment &#125; from './Appointment';
import &#123; DdrBlockItem &#125; from 'ddr-library';
import &#123; Component, OnInit &#125; from '@angular/core';

@Component(&#123;
  selector: 'app-showcase-ddr-block-list',
  templateUrl: './showcase-ddr-block-list.component.html',
  styleUrls: ['./showcase-ddr-block-list.component.scss']
&#125;)
export class ShowcaseDdrBlockListComponent implements OnInit &#123;

  public blockItems: DdrBlockItem&lt;Appointment&gt;[]

  public CANCEL_APPOINTMENT: string = 'CANCEL_APPOINTMENT';
  public BEFORE_APPOINTMENT: string = 'BEFORE_APPOINTMENT';

  public pagination: number;

  public showHeader: boolean;
  public showBorder: boolean;
  public showInfoAdditional: boolean;
  public showActions: boolean;

  constructor(
    public ddrCache: DdrCacheService,
    private ddrToast: DdrToastService
  ) &#123; 
    this.ddrCache.setElement('title', 'Block list')
    this.blockItems = [];
    this.pagination = 5;
    this.showHeader = true;
    this.showInfoAdditional = true;
    this.showBorder = true;
    this.showActions = true;
  &#125;

  ngOnInit() &#123;

    let appointments: Appointment[] = [
      &#123;
        date: "2021-08-10",
        status: "complete",
        client: "Fernando",
        age: 27
      &#125;,
      &#123;
        date: "2021-07-10",
        status: "canceled",
        client: "Nando",
        age: 30
      &#125;,
      &#123;
        date: "2021-08-10",
        status: "in course",
        client: "Pepe",
        age: 40
      &#125;,
      &#123;
        date: "2021-08-11",
        status: "unknown",
        client: "Alberto",
        age: 80
      &#125;,
      &#123;
        date: "2021-09-10",
        status: "complete",
        client: "Jose",
        age: 27
      &#125;,
      &#123;
        date: "2021-08-01",
        status: "cancelled",
        client: "Alfredo",
        age: 20
      &#125;
    ];

    let actions: DdrAction&lt;Appointment&gt;[] = [
      &#123;
        label: 'Cancelar cita',
        value: this.CANCEL_APPOINTMENT
      &#125;,
      &#123;
        label: 'Ver citas anteriores',
        value: this.BEFORE_APPOINTMENT,
        icon: 'fa fa-file'
      &#125;,
    ];

    appointments.forEach(ap =&gt; &#123;

      let blockItem = new DdrBlockItem&lt;Appointment&gt;();

      blockItem.item = ap;

      switch (ap.status) &#123;
        case 'complete':
          blockItem.borderColor = 'green';
          break;
        case 'canceled':
          blockItem.borderColor = 'red';
          break;
        case 'in course':
          blockItem.borderColor = 'blue';
          break;
        case 'unknown':
          blockItem.borderColor = 'grey';
          break;
      &#125;

      if(blockItem.item.status !== 'in course')&#123;
        blockItem.actions = actions.slice(1);
      &#125;else&#123;
        blockItem.actions = actions;
      &#125;

      this.blockItems.push(blockItem);

    &#125;)

  &#125;

  getAction($event)&#123;
    console.log($event);
    this.ddrToast.addInfoMessage('Accion seleccionada', JSON.stringify($event))
  &#125; 

  selectItem($event: DdrSelectedItem&lt;Appointment&gt;)&#123;
    console.log($event);
    this.ddrToast.addInfoMessage('Item seleccionado', JSON.stringify($event))
  &#125;

  addBlock()&#123;

    let ap: Appointment = 
    &#123;
      date: "2021-08-10",
      status: "complete",
      client: "Fernando",
      age: 27
    &#125;;

    
    let actions: DdrAction&lt;Appointment&gt;[] = [
      &#123;
        label: 'Cancelar cita',
        value: this.CANCEL_APPOINTMENT
      &#125;,
      &#123;
        label: 'Ver citas anteriores',
        value: this.BEFORE_APPOINTMENT,
        icon: 'fa fa-file'
      &#125;,
    ];
    
    let blockItem = new DdrBlockItem&lt;Appointment&gt;();

    blockItem.item = ap;

    switch (ap.status) &#123;
      case 'complete':
        blockItem.borderColor = 'green';
        break;
      case 'canceled':
        blockItem.borderColor = 'red';
        break;
      case 'in course':
        blockItem.borderColor = 'blue';
        break;
      case 'unknown':
        blockItem.borderColor = 'grey';
        break;
    &#125;

    if(blockItem.item.status !== 'in course')&#123;
      blockItem.actions = actions.slice(1);
    &#125;else&#123;
      blockItem.actions = actions;
    &#125;

    this.blockItems.push(blockItem);

  &#125;

  removeFirstBlock()&#123;
    this.blockItems = this.blockItems.slice(1);
  &#125;

  removeLastBlock()&#123;
    this.blockItems = this.blockItems.slice(0, this.blockItems.length-1);
  &#125;

  showHideHeader()&#123;
    this.showHeader = !this.showHeader;
  &#125;

  showHideInfoAdditional()&#123;
    this.showInfoAdditional = !this.showInfoAdditional;
  &#125;

  showHideActions()&#123;
    this.showActions = !this.showActions;
  &#125;

  showHideBorder()&#123;
    this.showBorder = !this.showBorder;
  &#125;

&#125;</code></pre>
      </ddr-tab-item>
    </ddr-tabs>
  </div>


  <div class="scrollable" inputs>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Tipo</th>
          <th>Valor por defecto</th>
          <th>Posibles valores</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>blockItems</td>
          <td>Elementos a mostrar.</td>
          <td>DdrBlockItem&lt;T&gt;</td>
          <td>[]</td>
          <td></td>
        </tr>
        <tr>
          <td>labelNoResults</td>
          <td>Texto al no haber elementos</td>
          <td>string</td>
          <td>'No results'</td>
          <td></td>
        </tr>
        <tr>
          <td>showHeader</td>
          <td>Muestra la cabecera del bloque.</td>
          <td>boolean</td>
          <td>true</td>
          <td></td>
        </tr>
        <tr>
          <td>showInfoAdditional</td>
          <td>Muestra la información adiccional del bloque.</td>
          <td>boolean</td>
          <td>true</td>
          <td></td>
        </tr>
        <tr>
          <td>showActions</td>
          <td>Muestra las acciones del bloque.</td>
          <td>boolean</td>
          <td>true</td>
          <td></td>
        </tr>
        <tr>
          <td>showBorder</td>
          <td>Muestra el borde del bloque.</td>
          <td>boolean</td>
          <td>true</td>
          <td></td>
        </tr>
        <tr>
          <td>pagination</td>
          <td>Indica el numero de elementos por página.</td>
          <td>number</td>
          <td>10</td>
          <td></td>
        </tr>
        <tr>
          <td>previousLabel</td>
          <td>Texto de la anterior pagina.</td>
          <td>string</td>
          <td>'Previous'</td>
          <td></td>
        </tr>
        <tr>
          <td>nextLabel</td>
          <td>Texto de la siguiente pagina.</td>
          <td>string</td>
          <td>'Next'</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="scrollable" outputs>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Valor devuelto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>itemSelected</td>
          <td>Evento al seleccionar un bloque</td>
          <td>DdrSelectedItem&lt;T&gt;</td>
        </tr>
        <tr>
          <td>actionSelected</td>
          <td>Evento al seleccionar una accion</td>
          <td>DdrAction&lt;T&gt;</td>
        </tr>
      </tbody>
    </table>
  </div>

</base-showcase>
