@font-face {
    font-family: 'ddr regular';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'ddr bold';
    src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'ddr bold italic';
    src: url('../fonts/Poppins-BoldItalic.ttf');
}

@font-face {
    font-family: 'ddr thin';
    src: url('../fonts/Poppins-Thin.ttf');
}

@font-face {
    font-family: 'ddr thin italic';
    src: url('../fonts/Poppins-ThinItalic.ttf');
}

@font-face {
    font-family: 'ddr medium';
    src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'ddr medium italic';
    src: url('../fonts/Poppins-MediumItalic.ttf');
}

@font-face {
    font-family: 'ddr black';
    src: url('../fonts/Poppins-Black.ttf');
}

@font-face {
    font-family: 'ddr black italic';
    src: url('../fonts/Poppins-BlackItalic.ttf');
}

@font-face {
    font-family: 'ddr light';
    src: url('../fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: 'ddr light italic';
    src: url('../fonts/Poppins-ThinItalic.ttf');
}

@font-face {
    font-family: 'ddr extrabold';
    src: url('../fonts/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'ddr extrabold italic';
    src: url('../fonts/Poppins-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: 'ddr extralight';
    src: url('../fonts/Poppins-ExtraLight.ttf');
}

@font-face {
    font-family: 'ddr extralight italic';
    src: url('../fonts/Poppins-ExtraLightItalic.ttf');
}

@font-face {
    font-family: 'ddr semibold';
    src: url('../fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'ddr semibold italic';
    src: url('../fonts/Poppins-SemiBoldItalic.ttf');
}

@font-face {
    font-family: 'ddr italic';
    src: url('../fonts/Poppins-Italic.ttf');
}